
body {
    background-color:antiquewhite;
}

p.centralized {
    text-align: center;
    display: block;
}

h1.section_heading{
    font-size :xx-large;
    color:mediumblue;
    font-family:MingLiU_HKSCS-ExtB;
}

p.section_content{
    font-size:large;
    color:seagreen;
    font-family:'Javanese Text';
}

li {
    font-size: large;
    color: seagreen;
    font-family: 'Javanese Text';
}

section{
    padding:20px;
}

.footer {
    padding-top: 2rem;
}

.footer_container {
    grid-row-gap: 1rem;
}

.footer_bg {
    background-color: dimgrey;
    padding: 1.5rem 0 1rem;
}

.footer_links {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.5rem;
}


.footer_social {
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer_copy {
    font-size: small;
    text-align: center;
    color: black;
    margin-top: 1.5rem;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
    color: antiquewhite;
}